<h1>さんの投稿一覧へ</h1>
<div class="card mb-3">
  <div class="card-body">
 
<h5 class="card-title"><% @articles.each do |article| %>
    <%= article.title %></h5>
    <% end %>
    

    </div>
</div>

 

<%= paginate @articles %>