<h1><%= @user.name %>さんの投稿一覧</h1>
<% @articles.each do |article| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
  　  <%= article.title %></h5>
    </div>
  </div>
<% end %>
<%= paginate @articles %>