.test {
    background-image: image-url("dog.jpg");
    background-size: cover;
    background-color:rgba(0,153,255,0.1);
    background-blend-mode:lighten;
}

input[type="f.text"] {
        width: 30px;
        height: 40px;
    }

