main {
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    padding-top: 60px;
}

footer {
    height: 50px;
}

.bg-home {
    background-color: #FFFFF0;
}

.navbar-brand {
  display     : inline-block;
  font-size   : 160%;
  font-weight : bold;
  color       : #ffffff;
  text-shadow:  2px  2px 10px #777 ,
               -2px  2px 10px #777 ,
                2px -2px 10px #777 ,
               -2px -2px 10px #777;
}
